.header-holder {
  margin: 0 auto;
  max-width: 960px;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.main-menu a {
  color: #FFE36B;
}

.header__logo {
  width: 9rem;
  height: 3rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .header-holder {
    display: inline-block;
    width: 100%;
  }

  .main-menu {
    margin-top: 0.5rem;
  }
}